/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
    --blue: #0088CC;
    --grey: #4C4C4C;
    --yellow: #EDC52F;
    --kuning: #FFE600;
} */

/* body{
    background-color: white;
} */

/* .experience {
    width: 100vw;
    height: 100vh;
    background-color: var(--yellow);
}

.text-experience {
    color: black;
    opacity: 0.4;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    transform: rotate(-90deg);
}

.swiper {
    width: 600px;
    height: 300px;
}
*/
/* * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {  
    overflow-x: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
    background: #EDC52F;
    /* overflow-x: hidden;
}
*/


/* .up {
    background-color: #EDC52F;
} */
/* 
.up h1 {
    margin-left: 100px;
}

.up p {
    margin-top: 32px;
    margin-left: 100px;
    bottom: 0;
} */

/* .beside p{
    background-color: #EDC52F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
} */
/* 
.rotate {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    transform: rotate(-90deg);
    color: rgba(0, 0, 0, 0.500);
}

.imgBox{
    width: 100vw;
    position: relative;
    margin-left: 20px;
    display: inline-block;
}

.swiper-slide img{
    height: 400px;
}

.swiper-slide p{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    z-index: 10;
}

.swiper-slide ::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}

.swiper-container{
    width: 100;
    padding-top: 50px;
    padding-bottom: 100px;
    background-position: center;
    background-size: cover;
    align-items: center;
}

.swiper-slide{
    height: fit-content!important;
    width: fit-content!important;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-welcome {
    width: 100vw;
}   

.img-welcome {
    width: 100%;
}

::-webkit-scrollbar{
    display: none;
} */

/* .swiper {
    width: 700px;
    height: 400px;
}

.swiper-slide{
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
} */

/* .img-welcome path{
    fill: var(--yellow);
}
.img-welcome{
    width: 80%;
} */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #EDC52F;
  --white: #ffffff;
  --bg: #f5f5f5;
  --pn: #0088CC;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
  background-color: var(--primary);
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 40rem;
  height: 20rem;
  position: relative;
}



@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }

  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 50rem;
  height: 30rem;
  object-fit: cover;
}


.comol {
  width: 50rem;
  height: 30rem;
  background-color: rgba(0, 0, 0, .6);
  backdrop-filter: blur(3px);
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--pn);
}

/* edit */

.section-subheading{
  color: var(--pn);
  margin-bottom: 30px;
}

.text-experience{
    color: black;
    opacity: 0.4;
    font-family: 'Poppins';
    font-size:3em;
    transform: rotate(-90deg);
    font-weight: bold;
    position: absolute;
    top: 63%;
    right: 0;
    left: 95%;
}

.side-image{
    position: absolute;
}

.last-text{
    color: var(--primary);
    -webkit-text-stroke: 2px #776317;
    font-weight: 1000;
    font-size: 30px;
    max-width: 400px;
    text-align: end;

}

.box-text{
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

svg{
    margin-bottom: -10px;
}